body{
    padding: 100px;
}

.submit-area{
    margin-top: 60px;
    box-shadow: 5px 5px 10px gray; 
    border-radius: 10px;
    padding: 13px;
}
#transaction-area{
    display: none;
}
.deposit {
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: cyan;
}
.withdraw {
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: tomato;
}
.balance {
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: gold;
}
.status {
margin: 0 10px;
}